.btn_outer {
  width: 180px;
  height: 60px;
  position: absolute;
}
.border {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.75s ease-in-out;
}

.btn_inner {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

.btn_inner:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

.btn_inner:hover svg {
  stroke-dashoffset: -480;
}

.btn_inner span {
  font-size: 18px;
}

.btn_text {
}
