.btn_outer {
  position: relative;
  width: auto;
}

.btn_inner {
  width: auto;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  transition: 1s ease-in-out;
}

.btn_inner:hover {
  transition: 1s ease-in-out;
}

.btn_text {
}
