.btn {
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  transition: transform 0.1s ease;
}
.btn:disabled {
  opacity: 0.5;
  box-shadow: inset 0px 0px 3px rgb(88, 88, 88);
  &:hover {
    transform: none;
    cursor: default;
  }
}

.btn:hover {
  cursor: pointer;
}
