@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka_Variable.ttf');
}

/*Tooltip*/
.has-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.has-tooltip .tooltip {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.has-tooltip:hover .tooltip {
  visibility: visible;
}

.has-tooltip .tooltip::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip-left {
  top: 5px;
  right: 115%;
}
.tooltip-right {
  top: 10px;
  left: 115%;
}
.tooltip-top {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip-bottom {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
